header {
    padding: 30px 20px 30px; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    gap: 10px; 


        .header__logo {
            margin: auto; 
            
            & img {
                width: 200px; 
            }

        }
    
        .header__icon {
            i {
                font-size: 24px;
                color: #000000;  
            }
        }
    
        
}