header {
    padding: 30px 50px 30px; 

        .header__logo {
            & img {
                width: 200px;  
            }

            display: flex; 
            justify-content: center;
            align-items: center;
            gap: 20px; 
        }
    
        .header__logo--elements-position {
            i { 
                font-size: 24px;
                color: #000000;  
            }
        }
    
        
}