.menu {
    padding: 0; 
 
    &__background {
    height: 300px; 
    width: 100%;
    position: relative; 
    z-index: 0; 
    }
    
    img {
        height: 100%; 
        width: 100%; 
        object-fit: cover; 
    }

}

.menu__section {
    @include menu__section--structure;
    display: flex; 
    flex-direction: column;

    @media screen and (min-width: 650px)  {
        padding: 30px 90px; 
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        padding: 30px 130px; 
    }

     &--bggreylight {
         background-color: $color-background-grey;
     }

     &__maintitle {
         position: relative; 
         display: flex; 
         align-items: center; 
         justify-content: space-between;
     }

     .maintitle__icon {
         position: absolute; 
         right: 10px;

         @media screen and (min-width: 650px) {
            right: -80px; 
         }
     }

     h1 {
         font-family: 'Shrikhand', sans-serif;
         font-size: 26px; 
     }
}


