.main__location {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 10px; 

    &--bggrey {
        background: rgba(233, 232, 232, 0.866);
    }

    .main__city--police {
        font-style: normal;
        font-size: 14px;
        font-weight: bold; 
    }
}

.main__content {
    padding: 20px 20px 60px; 
    text-align: center; 

    &--bggreylight {
        background-color: $color-background-grey;
    }


    .main__title {
        font-size: 24px;
        font-weight: bold;
    }
}


/*--Section2--*/ 
.fonction {
    padding: 20px 20px 60px;

    @media screen and (min-width: 650px) {
        padding: 20px 100px 60px 100px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }

    @media screen and (min-width: 993px) {
        padding: 20px 40px 60px 40px; 
        
    }
    
    &__description {
        display: flex; 
        flex-direction: column; 
        gap: 20px; 

        @media screen and (min-width: 650px){
            width: 100%; 
        }

        @media screen and (min-width: 993px) and (max-width: 1299px){
            width: 80%; 
            flex-direction: row;
            justify-content: center; 
            flex-wrap: wrap; 
            gap: 60px;  

        }

        @media screen and (min-width: 1300px) {
            width: 80%; 
            flex-direction: row;
            gap: 60px; 
        }
    }

}



/*--Section3--*/
.services {
    padding: 20px 20px 40px; 

    @media screen and (min-width: 650px) {
        padding: 20px 30px 20px 30px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 0px; 
    }


    &--bggreylight {
        background-color: $color-background-grey;
    }
    
    &__list {
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 30px; 
        padding: 20px 0 40px;

        @media screen and (min-width: 650px) and (max-width: 992px) {
            width: 100%; 
            gap: 50px; 
        }

        @media screen and (min-width: 993px) and (max-width: 1299px) {
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 50px; 
        }

        @media screen and (min-width: 1300px) {
            width: 90%; 
            flex-direction: row;
            justify-content: center;
            gap: 50px; 
        }

    }

    
}

h3 {
    margin: 0; 
    font-size: 16px;
}

h4 {
    margin: 0; 
    padding: 5px 0 0; 
    font-size: 14px; 
    font-weight: inherit;
    color: $lighten-header; 
}

