
/*--specific button menu's page--*/ 
form {
    align-self: center; 
    margin-top: 30px; 
}


/*---buttons---*/ 
.button {
    @include button; 
    border: none; 
    color: #fff;
    cursor: pointer; 

    &:hover {
        opacity: 0.8; 
        box-shadow: 0px 1px 6px black;  
    }
}


/*--fav buttons--*/ 
.button__fav {
    background: none;
    border: none; 
}

.fa-heart {
    font-size: 20px; 

    &:hover {
        @include icon--animation; 
    }
}