/*--titles--*/ 
.menu__titles {
    font-weight: inherit;
    font-size: 18px;
    color: $lighten-header;
    text-transform: uppercase;
    opacity: 0; 

    &::after {
        content: "";
        display: block; 
        width: 45px; 
        height: 3px; 
        margin-top: 5px; 
        background-color: $color-tertiaire; 
    }
}



/*--cards--*/ 
.cards__description {
    @include menu__cards--description;

    @media screen and (min-width: 650px) {
        width: 70%
    }


    &__title {
        padding: 15px;
        width: 80%; 
    }
    
    &__price {
        text-align: right;
        margin-right: 25px; 
        padding-bottom: 15px;
        font-weight: bold;
        align-self: flex-end;
        font-size: 14px; 
        width: 20%;  
    }
}

.cards__description a {
    border: inherit; 
    text-decoration: none;
    color: black; 
    display: flex; 
    width: 100%;
}

.cards__design {
    &--bgwhite {
        background-color: #fff;
    }

    &--shadow {
        @include shadow__cards; 
    }
}