/*--Variables--*/ 
$color-background-grey: rgb(244, 244, 244); 
$color-background-violet: rgb(241, 228, 248);
$color-primaire: #9356DC; 
$color-secondary: #FF79DA; 
$color-tertiaire: #99E2D0; 
$darken-mint: darken($color-tertiaire, 60%); 
$color-shadow: rgb(181, 181, 181); 
$lighten-header: lighten(#000000, 45%); 
$color-footer: #3b3a3a; 
$color-footer-font: rgb(236, 234, 234);