 *
 {
     box-sizing: border-box;
 }
/*--Variables--*/ 
$color-background-grey: rgb(244, 244, 244); 
$color-background-violet: rgb(241, 228, 248);
$color-primaire: #9356DC; 
$color-secondary: #FF79DA; 
$color-tertiaire: #99E2D0; 
$darken-mint: darken($color-tertiaire, 60%); 
$color-shadow: rgb(181, 181, 181); 
$lighten-header: lighten(#000000, 45%); 
$color-footer: #3b3a3a; 
$color-footer-font: rgb(236, 234, 234);


/*--Mixins--*/ 
@mixin fonction__onglets {
    display: flex; 
    align-items: center;
    padding: 10px; 
    gap: 10px; 
    width: 100%; 
   
}

@mixin services__card--structure {
    display: flex; 
    flex-direction: column;  
    border-radius: 30px;
    width: 100%;

    @media screen and (min-width: 700px) {
        width: 75%;  
    }
}

@mixin shadow__cards {
    box-shadow: 0px 2px 6px $color-shadow; 
}

@mixin card__link--fix {
    text-decoration: none;
    color: black;
}

@mixin bandeau--graphic {
    background-color: $color-tertiaire;
    color: $darken-mint;
    font-size: 14px;
}

@mixin bandeau--struture {
    position: absolute; 
    top: 20px; 
    right: 15px;
    padding: 5px; 
}

@mixin menu__section--structure {
    padding: 20px 20px 75px; 
    margin-top: -60px; 
    position: relative; 
    z-index: 1;
    border-radius: 40px 40px 0 0; 
    width: 100%;
}

@mixin menu__cards--description {
    margin-bottom: 30px;
    border-radius: 20px; 
    display: flex; 
    justify-content: space-between; 
}

@mixin button {
    display: inline-block; 
    padding: 15px 45px; 
    border-radius: 30px;

    &--violet {
        background: $color-primaire;
        background: linear-gradient(356deg, $color-primaire 29%, $color-secondary 87%);
    } 

    &--police {
        text-decoration: none;
        color: #fff; 
    }

    &--shadow {
        box-shadow: 0px 2px 6px $color-shadow
    }
}

@mixin icon--animation {
    font-weight: 900; 
    background: linear-gradient(356deg, $color-primaire 29%, $color-secondary 87%); 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;  
    cursor: pointer;
}

@mixin cards--checkanimation {
    margin-right: -250px; 
    display: flex; 
    width: 20%; 
    background-color: $color-tertiaire;
    border-radius: 0 20px 20px 0;
    justify-content: center;
    align-items: center; 
    color: #fff;
}

/*-- Keyframes --*/ 
@keyframes appearance {
    100% {
        opacity: 1; 
    }
}

 /*-- Polices--*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

/*--Normalize--*/ 
@import "./base/normalize"; 

body {
    font-family: 'Roboto', sans-serif;
}

header {
margin: 30px auto 20px;  

    .header__logo {
        text-align: center; 

        & img {
            width: 200px; 
        }
    }

    .header__logo--elements-position {
        position: relative; 
        
        i {
            position: absolute; 
            left: 30px; 
            top: 5px; 
            font-size: 24px; 
        }
    }

    .fa-solid--dark 
    {
        color: #000000; 
    }
}

/*--section1--*/
.main__location {
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 10px; 

    &--bggrey {
        background: rgba(233, 232, 232, 0.866);
    }

    .main__city--police {
        font-style: normal;
        font-size: 14px;
        font-weight: bold; 
    }
}

.main__content {
    padding: 20px 20px 60px; 
    text-align: center; 

    &--bggreylight {
        background-color: $color-background-grey;
    }


    .main__title {
        font-size: 24px;
        font-weight: bold;
    }
}


/*--Section2--*/ 
.fonction {
    padding: 20px 20px 60px;

    @media screen and (min-width: 650px) {
        padding: 20px 120px 60px 120px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 30px; 
    }

    @media screen and (min-width: 993px) {
        padding: 20px 40px 60px 40px; 
        
    }
    
    &__description {
        display: flex; 
        flex-direction: column; 
        gap: 20px; 

        @media screen and (min-width: 650px){
            width: 100%; 
            align-items: center;
        }

        @media screen and (min-width: 993px){
            width: 90%; 
            flex-direction: row;
            gap: 60px;  

        }
    }

}


.fonction__onglets {
    
    @include fonction__onglets;
    border-radius: 15px;
    position: relative; 
    
        &--bggreylight {
            background: $color-background-grey;
        }

        &--shadow {
            @include shadow__cards; 

        }

        &--bgviolet:hover {
            background: $color-background-violet;
        }

        .fa-solid {
            color: $color-primaire;
        }
}

.fonction__onglets__description {
    @include fonction__onglets; 
    padding-left: 30px;  

    @media screen and (min-width: 993px) {
        justify-content: center;
    }
    }

.fonction__onglets__number {
    position: absolute; 
    left: -10px; 
    padding: 4px 9px; 
    border-radius: 100px;

    @media screen and (min-width: 993px ) {
        left: 5px; 
    }

    &--violet {
        background-color: $color-primaire;
        color: #fff; 
    }
}


/*--Section3--*/
.services {
    padding: 20px 20px 40px; 

    @media screen and (min-width: 650px) {
        padding: 20px 30px 20px 30px; 
        display: flex; 
        flex-direction: column;
        align-items: center;
        gap: 0px; 
    }


    &--bggreylight {
        background-color: $color-background-grey;
    }
    
    &__list {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 30px; 
    padding: 20px 0 40px;

    @media screen and (min-width: 650px) and (max-width: 992px) {
        width: 100%; 
    }

    @media screen and (min-width: 993px) {
        flex-direction: row;
    }

    }

    
}

.services__card {
    @include services__card--structure;
    @include shadow__cards;
    transform: scale(1);
    transition: transform (0.25s);
    
    &:hover {
        transform: scale(1.05); 
    }

    a {
        @include card__link--fix;
    }
}

.services__card__img {
    position: relative;
    height: 180px; 
    .bandeau {
        @include bandeau--struture; 

        &--mint {
        @include bandeau--graphic; 
        }
        
    } 
    img {
        width: 100%; 
        height: 100%; 
        object-fit: cover;
        border-radius: 30px 30px 0 0;  
        }
}

h3 {
    margin: 0; 
    font-size: 16px;
}

h4 {
    margin: 0; 
    padding: 5px 0 0; 
    font-size: 14px; 
    font-weight: inherit;
    color: $lighten-header; 
}

.services__card__description {
    padding: 0 20px 15px; 
    display: flex; 
    align-items: baseline; 
    justify-content: space-between;
    background: #fff;
    border-radius: 0 0 30px 30px; 

    &__titles {
        padding: 20px 0 0; 
        gap: 20px; 
    }
}


footer {
    padding: 20px 20px;  
    background-color: $color-footer;
    color: $color-footer-font; 

    .footer__title {
        font-family: 'Shrikhand', sans-serif;
        font-weight: inherit; 
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    i {
        padding-right: 10px; 
    }

    li {
        padding-bottom: 10px; 
    }

    a {
        text-decoration: none;
        color: $color-footer-font;

        &:hover {
            border-bottom: 1px $color-footer-font solid; 
        }
    }

    @media screen and (min-width: 750px)  {
        padding: 20px 0px 40px 50px; 
    } 
}

/*--page 2/3/4/5--*/ 
    .header_logo {
        display: flex; 
        justify-content: space-between;
        align-items: flex-end;
    }


.menu {
    padding: 0; 
 
    &__background {
    height: 300px; 
    width: 100%;
    position: relative; 
    z-index: 0; 
    }
    
    img {
        height: 100%; 
        width: 100%; 
        object-fit: cover; 
    }

}

.menu__section {
    @include menu__section--structure;
    display: flex; 
    flex-direction: column;

    @media screen and (min-width: 650px)  {
        padding: 30px 90px; 
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        padding: 30px 130px; 
    }

     &--bggreylight {
         background-color: $color-background-grey;
     }

     &__maintitle {
         position: relative; 
         display: flex; 
         align-items: center; 
         justify-content: space-between;
     }

     .maintitle__icon {
         position: absolute; 
         right: 10px;

         @media screen and (min-width: 650px) {
            right: -80px; 
         }
     }

     h1 {
         font-family: 'Shrikhand', sans-serif;
         font-size: 26px; 
     }
}

.menu__titles {
    font-weight: inherit;
    font-size: 18px;
    color: $lighten-header;
    opacity: 0; 

    &::after {
        content: "";
        display: block; 
        width: 45px; 
        height: 3px; 
        margin-top: 5px; 
        background-color: $color-tertiaire; 
    }
}

.title__animation {
    &--anim1 {
        animation: appearance 1s ease-in-out 0.25s forwards;
    }

    &--anim2 {
        animation: appearance 1s ease-in-out 2s forwards;
    }

    &--anim3 {
        animation: appearance 1s ease-in-out 4.5s forwards;
    }
}



.cards__description {
    @include menu__cards--description;

    @media screen and (min-width: 650px) {
        width: 70%
    }


    &__title {
        padding: 15px;
        width: 80%; 
    }
    
    &__price {
        text-align: right;
        margin-right: 25px; 
        padding-bottom: 15px;
        font-weight: bold;
        align-self: flex-end;
        font-size: 14px; 
        width: 20%;  
    }
}

.cards__description a {
    border: inherit; 
    text-decoration: none;
    color: black; 
    display: flex; 
    width: 100%;
}

.cards__design {
    &--bgwhite {
        background-color: #fff;
    }

    &--shadow {
        @include shadow__cards; 
    }
}


.cards__animation {
    overflow: hidden;
    opacity: 0;

    &:hover .cards__description__icon{
        margin-right: 0;
    }

    &:hover .fa-circle-check {
        transform: rotate(1turn);
    }

    .cards__description__icon {
        @include cards--checkanimation; 
        transition: margin-right 1s ease; 
        cursor: pointer;
    }

    .fa-circle-check {
        transition: transform 1.1s ease; 
    }
}

.cards__animation {
    /*--Bloc1--*/ 
    &--1 {
        animation: appearance 1s ease-in-out 0.5s forwards; 
    }

    &--2 {
        animation: appearance 1s ease-in-out 1s forwards; 
    }

    &--3 {
        animation: appearance 1s ease-in-out 1.5s forwards; 
    }

    /*--specific page3--*/ 
    &--4 {
        animation: appearance 1s ease-in-out 2.25s forwards; 
    }

    /*--bloc2--*/ 
    &--1_2 {
        animation: appearance 1s ease-in-out 3s forwards; 
    }

    &--2_2 {
        animation: appearance 1s ease-in-out 3.5s forwards; 
    }

    &--3_2 {
        animation: appearance 1s ease-in-out 4s forwards; 
    }

    /*--bloc3--*/ 
    &--1_3 {
        animation: appearance 1s ease-in-out 4.75s forwards; 
    }

    &--2_3 {
        animation: appearance 1s ease-in-out 5.5s forwards; 
    }

    &--3_3 {
        animation: appearance 1s ease-in-out 6s forwards; 
    }
}

form {
    align-self: center; 
    margin-top: 30px; 
}


/*---button---*/ 
.button {
    @include button; 
    border: none; 
    color: #fff;
    cursor: pointer; 

    &:hover {
        opacity: 0.8; 
        box-shadow: 0px 1px 6px black;  
    }
}

/*--fav button--*/ 
.button__fav {
    background: none;
    border: none; 
}
.fa-heart {
    font-size: 20px; 

    &:hover {
        @include icon--animation; 
    }
}

/*--content--*/ 
.content {
    position: relative; 
}

/*--loader--*/ 
.loader {

    /*--disposition--*/
    display: flex;  
    flex-direction: column;
    position: absolute; 
    width: 100%; 
    height: 100vh; 
    background: linear-gradient(356deg, $color-primaire 29%, $color-secondary 87%);
    color: transparent;
    z-index: 0; 

    /*--design--*/ 
    font-family: 'Shrikhand', sans-serif;
    font-weight: inherit; 
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: white; 

    /*--animation--*/ 
    animation: loader 3s ease normal forwards; 

    .loadertitle {
        animation: headerload 1.5s ease infinite normal;
        padding: 15px; 
        font-size: 28px;  
    }


    &::before {
        content:"";
        align-self: flex-start; 
        width: 50%; 
        height: 2px;
        left: 0; 
        background-color: white;
        opacity: 0; 
        animation: load 0.8s ease-in-out infinite alternate backwards; 
    }

    &::after {
        content:"";
        align-self: flex-end; 
        width: 50%; 
        height: 2px;
        left: 0; 
        background-color: white;
        opacity: 0; 
        animation: load 0.8s ease-in-out infinite alternate backwards; 
    }

    @keyframes load {
        0% {
            opacity: 0.25; 
            margin-left: 0px;
            margin-right: 0px; 
        }

        50% {
            opacity: 0.5; 
            height: 4px; 
            margin-left: 90px;
            margin-right: 90px; 
        }

        100% {
            opacity: 1; 
            height: 6px;
            margin-left: 140px;
            margin-right: 140px;   
        }
    }

    @keyframes headerload {
        0% {
            transform: scale(0.7); 
            opacity: 0.5
        }

        50% {
            transform: scale(1.1);
            opacity: 1; 
        }

        100% {
            transform: scale(1); 
            opacity: 0.8; 
        }
    }

    @keyframes loader {
        0% {
            opacity: 1; 
            z-index: 10; 
        }

        50% {
            opacity: 0.8; 
            z-index: 10; 
        }

        100% {
            opacity: 0; 
            z-index: 0; 
        }
    }
}










   

    
    



  













